.waterfall-container-horizontal {
    display: flex;
    flex-direction: column;
}

.waterfall-container-verticle {
    display: flex;
    flex-direction: row;
}

.default-row {
    display: flex;
    height: 40px;
}

.default-row:nth-child(even) {
    background-color: #f5f5f5;
}

.default-row-label {
    width: 30%;
    border-right: 1px solid #d5d5d5;
}

.default-row-bar-container {
    display: flex;
    width: 60%;
    margin: 5px 0;
}

.default-row-bar {
    background-color: #22a7f0;
    min-width: 2px;
}
